<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarHospital(input.value)" type="text" class="form-control" placeholder="Buscar hospital...">

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espera por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button (click)="crearHospital()" type="button" class="btn waves-effect waves-light btn-primary btn-rounded">
                    <i class="fa fa-plus" ></i>
                      Crear hospital
                    </button>
                </div>
                <h3 class="card-title">Hospitales registrados ( <small>{{ totalRegistros }}</small> )</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Hospital</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales; let total = count; let idx = index">
                            <td class="w70">
                                <img (click)="mostrarModal(hospital._id)" [src]="hospital.img | imagen:'hospital'" class="img-50 img-circle pointer">
                            </td>
                            <td>
                                <input #nombre name="nombre" class="form-control" [(ngModel)]="hospital.nombre">
                            </td>
                            <td>
                                <button [disabled]="nombre.value.trim().length === 0" (click)="guardarHospital(hospital, idx)" class="btn btn-primary">
                                <i class="fa fa-save"></i>
                              </button>

                                <button (click)="borrarHospital( hospital, total )" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                              </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button (click)="cambiarOffset(-5)" class="btn btn-secondary">
                  Anteriores
                </button>

                <button (click)="cambiarOffset(5)" class="btn btn-secondary">
                    Siguientes
                  </button>

            </div>
        </div>
    </div>
</div>